@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-light: #f9fafb;
  --foreground-light: #000000;
  --primary-light: #576c97;
  --secondary-light: #88e9c9;
  
  --background-dark: #1f242e;
  --foreground-dark: #e5e7eb;
  --primary-dark: #164a9c;
  --secondary-dark: #067e56;

   /* Set dark theme by default */
   --background: var(--background-dark);
   --foreground: var(--foreground-dark);
   --primary: var(--primary-dark);
   --secondary: var(--secondary-dark);
}

/* Override for dark mode using prefers-color-scheme */
@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--background-dark);
    --foreground: var(--foreground-dark);
    --primary: var(--primary-dark);
    --secondary: var(--secondary-dark);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}
