@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #f9fafb;
  --foreground-color: #000000;
  --primary-color: #576c97;
  --secondary-color: #88e9c9;
  --font-poppins: 'Poppins', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
}

.dark {
  --background-color: #1f242e;
  --foreground-color: #e5e7eb;
  --primary-color: #164a9c;
  --secondary-color: #067e56;
  --font-poppins: 'Poppins', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
}

/* Optional: Support system-level dark mode preference */
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #1f242e;
    --foreground-color: #e5e7eb;
    --primary-color: #164a9c;
    --secondary-color: #067e56;
  }
}

body {
  color: var(--foreground-color);
  background: var(--background-color);
  font-family: var(--font-roboto);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-poppins);
}
